/* Forum Post CSS */

/* Reset some default styles */
body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

.image-video{
    width: 40rem;
}


/* Previous comments section */
.previous-comments {
    margin-top: 20px;
}

/* Individual comment */
.comment {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.comment p {
    margin-bottom: 5px;
}

.comment-form{
    display: flex;
    flex-direction: row;
    
}

.created_by{
    width: 100%;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    border-radius: 0.5rem;
    background-color: rgb(58, 166, 185);
}
.post-title{
    background-color: rgb(58, 166, 185);
    color: white;
    padding: 2rem;
    
}